.additionalWrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding-left: 10px;
}

.additionalList {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
